@inherits ListOperateTableBase<EmailServerConfigDto, Guid, EmailServerConfigEdit, EmailLocalResource>
@page "/system_manager/email_server_config"
<div>
    <Table @ref="_table"
           TItem="EmailServerConfigDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableLoading.Value"
           Context="model">
        <TitleTemplate>
            <ResourceAuthorize ResourceKey="system_manager_email_server_config_refresh">
                <TableSearch TDto="EmailServerConfigDto" @ref="this._tableSearch" OnSearch="OnTableSearch" Settings="@_tableSearchSettings" CustomLocalizer="Localizer"></TableSearch>
             </ResourceAuthorize>
            <Row>
                <AntDesign.Col Span="8">
                    <ResourceAuthorize ResourceKey="system_manager_email_server_config_delete_selected">
                        <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                            @Localizer[nameof(SharedLocalResource.DeleteSelected)]
                        </Button>
                    </ResourceAuthorize>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <ResourceAuthorize ResourceKey="system_manager_email_server_config_add">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                    @Localizer[nameof(SharedLocalResource.Add)]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="system_manager_email_server_config_refresh">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                    @Localizer[nameof(SharedLocalResource.Refresh)]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                    </Space>
                </AntDesign.Col>
            </Row>
        </TitleTemplate>
        <ColumnDefinitions>
            <Selection Key="@(model.Id.ToString())" Hidden="@_userUnauthorizedResources["system_manager_email_server_config_delete_selected"]" />
            <Column @bind-Field="@model.Name" Filterable Title="@Localizer[nameof(SharedLocalResource.Name)]" />
             <Column @bind-Field="@model.Host" Filterable Title="@Localizer[nameof(SharedLocalResource.Host)]" />
             <Column @bind-Field="@model.Port" Filterable Title="@Localizer[nameof(SharedLocalResource.Port)]" />
             <Column @bind-Field="@model.AccountName" Filterable Title="@Localizer[nameof(SharedLocalResource.AccountName)]" />
             <Column @bind-Field="@model.Tags" Title="@Localizer[nameof(SharedLocalResource.Tags)]">
                @foreach (EmailServerTag tag in model.GetEmailServerTagEnums())
                {
                    <TagPro Text="@EnumHelper.GetEnumDescriptionOrName(tag)"></TagPro>
                }
            </Column>
            <Column @bind-Field="@model.IsLocked" Filterable Title="@Localizer[nameof(SharedLocalResource.IsLocked)]">
                <ResourceAuthorize ResourceKey="system_manager_email_server_config_lock">
                    <Authorized>
                        <Switch @bind-Value="@model.IsLocked" OnChange="e=>OnChangeIsLocked(model,e)" Loading="_lockBtnLoading[model]"></Switch>
                    </Authorized>
                    <NotAuthorized>
                        <TagYesNo Yes="model.IsLocked"></TagYesNo>
                    </NotAuthorized>
                </ResourceAuthorize>
            </Column>
            <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" Title="@Localizer[nameof(SharedLocalResource.CreatedTime)]" />
            <ActionColumn>
                <Space>
                    <ResourceAuthorize ResourceKey="system_manager_email_server_config_edit">
                        <SpaceItem>
                            <Tooltip Title="@(SharedLocalResource.Edit)" ArrowPointAtCenter="true">
                                <Button Icon="edit" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickEdit(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_email_server_config_detail">
                        <SpaceItem>
                            <Tooltip Title="@(SharedLocalResource.Detail)" ArrowPointAtCenter="true">
                                <Button Icon="eye" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickDetail(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_email_server_config_send">
                        <SpaceItem>
                            <Tooltip Title="@(SharedLocalResource.Send)" ArrowPointAtCenter="true">
                                <Button Icon="send" Type="@ButtonType.Primary" OnClick="()=>OnClickSend(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_email_server_config_delete">
                        <SpaceItem>
                            <Tooltip Title="@(SharedLocalResource.Delete)" ArrowPointAtCenter="true">
                                <Button Icon="delete" Type="@ButtonType.Primary" Danger OnClick="()=>OnClickDelete(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                </Space>
            </ActionColumn>
        </ColumnDefinitions>
    </Table>
</div>