@inherits FeedbackComponent<DrawerInput<Guid>, DrawerOutput<Guid>>

<Form Loading="@_isLoading"
      Model="@_sendEmailInput"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      OnFinish="OnFormFinish"
      Context="model">
    <FormItem>
        <Input Disabled="true" @bind-Value="@model.EmailServerConfigId" />
    </FormItem>
    <FormItem>
        <Input @bind-Value="@model.ToEmail" />
    </FormItem>
    <FormItem Label="数据">
        <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@_emailData"></TextArea>
    </FormItem>
    <FormItem>
        <Select DataSource="@emailTemplates"
                @bind-Value="@model.TemplateId"
                ValueName="@nameof(EmailTemplateDto.Id)"
                LabelName="@nameof(EmailTemplateDto.Name)"
                OnSelectedItemChanged="OnEmailTemplateChanged"
                >
        </Select>
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Space>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    @localizer["发送"]
                </Button>
            </SpaceItem>
            <SpaceItem>
                <Button OnClick="_=>OnFormCancel()">
                    @localizer["取消"]
                </Button>
            </SpaceItem>
        </Space>
    </FormItem>
</Form>