@using Gardener.Client.Core.Shared;
@using Microsoft.AspNetCore.Components.Authorization
<BootstrapBlazorRoot>
    <Router AppAssembly="@typeof(MainLayout).Assembly" AdditionalAssemblies="@moduleContext.ModeuleAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    Authorizing...
                </Authorizing>
                <NotAuthorized>
                    <Gardener.Client.Core.Shared.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(Gardener.Client.Core.Shared.OtherPageLayout)">
                    <div style="width:100%;text-align:center;">
                        <p>@(LocalizerUtil.GetValue("Page404Message"))</p>
                        <Button OnClick="e=>GoHome()">@LocalizerUtil.GetValue("GoHome")</Button>
                    </div>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>

</BootstrapBlazorRoot>
