@inherits OperationDialogBase<int, bool, UserCenterResource>
@if (_currentUser != null)
{
    <div class="baseView">
        <div class="left" style="min-width: 310px;">
            <Form Layout="vertical"
                  OnFinish="SaveUserBaseInfo"
                  Model="@_currentUser"
                  Context="model" 
                  ValidateMode="@FormValidateMode.Rules"
                  ValidateOnChange="true">
                <FormItem Label="@Localizer[UserCenterResource.Avatar]">
                    <Tooltip Placement="Placement.LeftTop" Title="@Localizer[UserCenterResource.ClickUpdateAvatar]">
                        <a @onclick="_ => OnAvatarClick(model)">
                            <Avatar Src="@model.Avatar" />
                        </a>
                    </Tooltip>
                </FormItem>
                <FormItem Label="@Localizer["NickName"]" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true,Max = 32,Min = 5} })>
                    <Input @bind-Value="@model.NickName" />
                </FormItem>
                <FormItem Label="@Localizer["Gender"]" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true,Type=FormFieldType.Enum} })>
                    <RadioGroup @bind-Value="@(model.Gender)">
                        @foreach (var gitem in EnumHelper.EnumToDictionary<Gender>())
                        {
                            <Radio Value="@(gitem.Key)">@Localizer[gitem.Value]</Radio>
                        }
                    </RadioGroup>
                </FormItem>
                <FormItem>
                    <Button HtmlType="submit" Type="primary" Loading="_saveBtnLoading">
                        @Localizer[UserCenterResource.Save]
                    </Button>
                </FormItem>
            </Form>
        </div>
    </div>
}