@inherits OperationDialogBase<int, bool, UserCenterResource>
<Row>
    <Col Span="16">
    <Divider Text="@Localizer[nameof(UserCenterResource.ChangePassword)]"></Divider>
    <Form Model="@model"
          LabelCol="_labelCol"
          WrapperCol="_wrapperCol"
          OnFinish="OnFormFinish"
          Loading="_dialogLoading.Value"
          ValidateMode="@FormValidateMode.Default"
          ValidateOnChange="true">
        <FormItem Label="@Localizer[nameof(UserCenterResource.OldPassword)]" >
            <Input @bind-Value="@context.OldPassword" Type="password" />
        </FormItem>
        <FormItem Label="@Localizer[nameof(UserCenterResource.NewPassword)]" >
            <Input @bind-Value="@context.NewPassword" Type="password" />
        </FormItem>
        <FormItem Label="@Localizer[nameof(UserCenterResource.ConfirmNewPassword)]" >
            <Input @bind-Value="@context.ConfirmNewPassword" Type="password" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                    @Localizer[nameof(SharedLocalResource.Save)]
            </Button>
        </FormItem>
    </Form>
    </Col>
</Row>