@inherits AntInputComponentBase<List<string>>

@if (this.CurrentValue != null && this.CurrentValue.Any())
{
    foreach (string tag in this.CurrentValue)
    {
        <span class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
            @tag <Icon Type="close" TabIndex="-1" @onclick="_=>OnCloseTagClick(tag)" />
        </span>
    }
}
@if (_tagInputVisible)
{
    <Input Style="width: 78px"
           Size="@ButtonSize.Small"
           @bind-Value="_tagInputValue"
           OnBlur="HandleTagInputValue" AutoFocus />
}
else
{
    <Tooltip Title=@("点击添加")>
        <Button Size="@ButtonSize.Small" Shape="circle" Icon="plus" OnClick="OnTagAddClick" />
    </Tooltip>
}
