@inherits EditOperationDialogBase<UserDto, int,UserCenterResource>
@if (_editModel != null)
{
    <Form Loading="@_dialogLoading.Value"
          Model="@_editModel"
          LabelCol="new ColLayoutParam { Span = 8 }"
          WrapperCol="new ColLayoutParam { Span = 16 }"
          OnFinish="OnFormFinish"
          Context="model">
        <Row Gutter="24">
            <GridCol Span="11">
                <Divider Orientation="left" Style="font-weight:bold">@Localizer["BasicInformation"]</Divider>
                <ResourceAuthorize ResourceKey="@Authorization.Constants.ResourceKeys.SystemTenantAdministratorKey">
                    <FormItem Label="@Localizer[UserCenterResource.Tenant]">
                        <Select DataSource="@_tenants"
                        @bind-Value="@model.TenantId"
                                ValueName="@nameof(TenantDto.Id)"
                                LabelName="@nameof(TenantDto.Name)"
                                TItem="TenantDto"
                                TItemValue="Guid?"
                            AllowClear>
                    </Select>
                </FormItem>
            </ResourceAuthorize>
                <FormItem Label="@Localizer[UserCenterResource.Avatar]">
                    @if (OperationDialogInputType.Edit.Equals(this.Options.Type) || OperationDialogInputType.Add.Equals(this.Options.Type))
                    {

                        <Tooltip Placement="Placement.LeftTop" Title="@Localizer[UserCenterResource.ClickUpdateAvatar]">
                            <a @onclick="_ => OnAvatarClick(model)">
                                <Avatar Src="@model.Avatar" />
                            </a>
                        </Tooltip>

                    }
                    else if (OperationDialogInputType.Select.Equals(this.Options.Type))
                    {
                        <Avatar Src="@model.Avatar" />
                    }
                </FormItem>
                <FormItem Label="@Localizer["Dept"]">
                    @if (deptDatas != null)
                    {
                        <TreeSelect TItem="DeptDto"
                                    Style="width:100%;"
                                    DataSource="deptDatas"
                        @bind-Value="@DeptId"
                                    Placeholder="@Localizer[SharedLocalResource.PleaseSelect]"
                                    AllowClear
                                    TitleExpression="node => node.DataItem.Name"
                                    KeyExpression="node => node.DataItem.Id.ToString()"
                                    ChildrenExpression="node => node.DataItem.Children?.ToList()"
                                    IsLeafExpression="node => node.DataItem.Children == null"
                                    TreeDefaultExpandAll>
                        </TreeSelect>
                    }
                </FormItem>
                <FormItem Label="@Localizer["Position"]">
                    <Select DataSource="@positions"
                    @bind-Value="@model.PositionId"
                            ValueName="@nameof(PositionDto.Id)"
                            LabelName="@nameof(PositionDto.Name)"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler"
                            TItem="PositionDto"
                            TItemValue="int?"
                            AllowClear>
                    </Select>
                </FormItem>
                <FormItem Label="@Localizer["UserName"]">
                    <Input @bind-Value="@model.UserName" />
                </FormItem>
                <FormItem Label="@Localizer["Password"]">
                    <Input Type="password" @bind-Value="@model.Password" />
                </FormItem>
                <FormItem Label="@Localizer["NickName"]">
                    <Input @bind-Value="@model.NickName" />
                </FormItem>
                <FormItem Label="@Localizer["Gender"]">
                    <RadioGroup @bind-Value="@(model.Gender)">
                        @foreach (var gitem in EnumHelper.EnumToDictionary<Gender>())
                        {
                            <Radio Value="@(gitem.Key)">@Localizer[gitem.Value]</Radio>
                        }
                    </RadioGroup>
                </FormItem>
                <FormItem Label="@Localizer["IsLocked"]">
                    <Switch @bind-Value="@model.IsLocked"></Switch>
                </FormItem>
            </GridCol>
            <GridCol Offset="2" Span="11">
                <Divider Orientation="left" Style="font-weight:bold">@Localizer["ContactInformation"]</Divider>
                <FormItem Label="@Localizer["PhoneNumber"]">
                    <Input @bind-Value="@model.PhoneNumber" />
                </FormItem>
                <FormItem Label="@Localizer["PhoneNumberConfirmed"]">
                    <Switch @bind-Value="@model.PhoneNumberConfirmed"></Switch>
                </FormItem>
                <FormItem Label="@Localizer["Email"]">
                    <Input @bind-Value="@model.Email" />
                </FormItem>
                <FormItem Label="@Localizer["EmailConfirmed"]">
                    <Switch @bind-Value="@model.EmailConfirmed"></Switch>
                </FormItem>
                @if (model.UserExtension == null)
                {
                    model.UserExtension = new UserExtensionDto() { UserId = model.Id };
                }
                <FormItem Label="@Localizer["QQ"]">
                    <Input @bind-Value="@model.UserExtension.QQ" />
                </FormItem>
                <FormItem Label="@Localizer["WeChat"]">
                    <Input @bind-Value="@model.UserExtension.WeChat" />
                </FormItem>
            </GridCol>
        </Row>
        <Row Gutter="24">
            <GridCol Offset="6" Span="18">
                <FormItem WrapperCol="new ColLayoutParam { Offset = 4, Span = 20 }">
                    <Space>
                        @if (!OperationDialogInputType.Select.Equals(this.Options.Type))
                        {
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" HtmlType="submit">
                                    @Localizer[SharedLocalResource.Save]
                                </Button>
                            </SpaceItem>
                        }
                        <SpaceItem>
                            <Button OnClick="OnFormCancel">
                                @Localizer[SharedLocalResource.Cancel]
                            </Button>
                        </SpaceItem>
                    </Space>
                </FormItem>
            </GridCol>
        </Row>
    </Form>
}