@inherits OperationDialogBase<int, bool, UserCenterResource>

<Spin Spinning="_isLoading">
    <Row Style="min-height:150px">
        <AntDesign.Col Span="20" Offset="2">
            <CheckboxGroup Options="@_roleOptions" OnChange="OnEditUserRoleChange" />
        </AntDesign.Col>
    </Row>
    <Row>
        <AntDesign.Col Span="20" Offset="2">
            <Space>
                <SpaceItem>
                    <Checkbox Indeterminate="@_indeterminateRole" Checked="@_checkAllRole" CheckedChange="@CheckAllRoleChanged">@Localizer[UserCenterResource.SelectAll]</Checkbox>
                </SpaceItem>
                <SpaceItem><Button Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="OnEditRoleSaveClick">@Localizer[UserCenterResource.Save]</Button></SpaceItem>
                <SpaceItem><Button Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="_=>OnFormCancel()">@Localizer[UserCenterResource.Cancel]</Button></SpaceItem>
            </Space>
        </AntDesign.Col>
    </Row>
</Spin>