@page "/system_manager/code_type"
@inherits ListOperateTableBase<CodeTypeDto, int, CodeTypeEdit,SystemManagerResource>
<div>
    <Table @ref="_table"
           TItem="CodeTypeDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
    @bind-PageIndex="_pageIndex"
    @bind-PageSize="_pageSize"
    @bind-SelectedRows="_selectedRows"
           Loading="@_tableLoading.Value"
           Context="model">
        <TitleTemplate>
            <ResourceAuthorize ResourceKey="system_manager_code_type_refresh">
                <TableSearch TDto="CodeTypeDto" OnSearch="OnTableSearch" @ref="this._tableSearch" Settings="_tableSearchSettings" CustomLocalizer="Localizer"></TableSearch>
            </ResourceAuthorize>
            <Row>
                <AntDesign.Col Span="8">
                    <ResourceAuthorize ResourceKey="system_manager_code_type_delete_selected">
                        <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                            @Localizer[SharedLocalResourceKeys.DeleteSelected]
                        </Button>
                    </ResourceAuthorize>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <ResourceAuthorize ResourceKey="system_manager_code_type_refresh_code_util_cache">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="sync" OnClick="OnClickRefreshCodeUtilCache">
                                    @Localizer[SystemManagerResource.RefreshCodeUtilCache]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="system_manager_code_type_export">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="export" OnClick="OnClickExport" Loading="_exportDataLoading">
                                    @Localizer[SharedLocalResourceKeys.Export]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="system_manager_code_type_add">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                    @Localizer[SharedLocalResourceKeys.Add]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>

                        <ResourceAuthorize ResourceKey="system_manager_code_type_refresh">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                    @Localizer[SharedLocalResourceKeys.Refresh]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="system_manager_code_type_download_seed_data">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnClickShowSeedData">
                                    @Localizer[SharedLocalResourceKeys.SeedData]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                    </Space>
                </AntDesign.Col>
            </Row>

        </TitleTemplate>
        <ColumnDefinitions>
            <Selection Key="@(model.Id.ToString())" Width="5%" Hidden="@_userUnauthorizedResources["system_manager_code_type_delete_selected"]" />
            <Column Title="@Localizer[SystemManagerResource.Id]" @bind-Field="@model.Id" Filterable />
            <Column Title="@Localizer[SystemManagerResource.CodeTypeName]" @bind-Field="@model.CodeTypeName" Filterable />
            <Column Title="@Localizer[SystemManagerResource.CodeTypeValue]" @bind-Field="@model.CodeTypeValue" Filterable />
            <Column Title="@Localizer[SystemManagerResource.Remark]" @bind-Field="@model.Remark" Filterable />
            <Column Title="@Localizer[SystemManagerResource.IsLocked]" @bind-Field="@model.IsLocked" Filterable>
                <ResourceAuthorize ResourceKey="system_manager_code_type_lock">
                    <Authorized>
                        <Switch @bind-Value="@model.IsLocked" OnChange="e=>OnChangeIsLocked(model,e)" Loading="_lockBtnLoading[model]"></Switch>
                    </Authorized>
                    <NotAuthorized>
                        <TagYesNo Yes="model.IsLocked"></TagYesNo>
                    </NotAuthorized>
                </ResourceAuthorize>
            </Column>
            <Column Title="@SharedLocalResource.CreatedTime" @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" />
            <ActionColumn>
                <Space>
                    <ResourceAuthorize ResourceKey="system_manager_code_type_edit">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Edit])" ArrowPointAtCenter="true">
                                <Button Icon="edit" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickEdit(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_code_type_detail">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Detail])" ArrowPointAtCenter="true">
                                <Button Icon="eye" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickDetail(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_code_type_codes_manager">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SystemManagerResource.CodeManager])" ArrowPointAtCenter="true">
                                <Button Icon="select" Type="@ButtonType.Primary" OnClick="()=>OnClickShowCodesManager(model)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="system_manager_code_type_delete">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Delete])" ArrowPointAtCenter="true">
                                <Button Icon="delete" Type="@ButtonType.Primary" Danger OnClick="()=>OnClickDelete(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>

                </Space>
            </ActionColumn>
        </ColumnDefinitions>
    </Table>
</div>
