@inherits EditOperationDialogBase<ResourceDto, Guid,SystemManagerResource>
@if (_editModel != null)
{
    <Form Loading="@_dialogLoading.Value"
          Model="@_editModel"
          LabelCol="new ColLayoutParam { Span = 8 }"
          WrapperCol="new ColLayoutParam { Span = 16 }"
          OnFinish="OnFormFinish"
          Context="model"
          Style="min-height:600px;">
        <FormItem Label="@Localizer[SystemManagerResource.Id]">
            <Input @bind-Value="@model.Id" Disabled />
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.Parent]">
            <Input @bind-Value="@model.ParentId" Type="hidden" />
            @if (resources != null && resources.Count > 0)
            {
                <TreeSelect TItem="ResourceDto"
                            Style="width:100%;"
                            DataSource="resources"
                @bind-Value="@ParentId"
                            Placeholder="@Localizer[nameof(SharedLocalResource.PleaseSelect)]"
                            AllowClear="false"
                            TitleExpression="node=>node.DataItem.Name"
                            KeyExpression="node =>node.DataItem.Id.ToString()"
                            ChildrenExpression="node =>node.DataItem.Children?.ToList()"
                            IsLeafExpression="node =>node.DataItem.Children==null || !node.DataItem.Children.Any()"
                            TreeDefaultExpandAll="true"
                            ShowExpand="true"
                            DisabledExpression="node=>node.DataItem.Id.Equals(_editModel.Id)">
                </TreeSelect>
            }
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.Name]">
            <Input @bind-Value="@model.Name" />
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.Key]">
            <Input @bind-Value="@model.Key" />
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.Type]">
            <RadioGroup @bind-Value="@(model.Type)">
                @foreach (var gitem in EnumHelper.EnumToDictionary<ResourceType>())
                {
                    <Radio Value="gitem.Key" Disabled="@((int)gitem.Key < (int)currentResourceTypeCopy)">@gitem.Value</Radio>
                }
            </RadioGroup>
        </FormItem>
        @if (model.Type.Equals(ResourceType.Menu))
        {
            <FormItem Label="@Localizer[SystemManagerResource.Path]">
                <Input @bind-Value="@model.Path" Placeholder="/module/view" />
            </FormItem>
            <FormItem Label="@Localizer[SystemManagerResource.Icon]">
                <Input @bind-Value="@model.Icon" />
            </FormItem>
            <FormItem Label="@Localizer[SystemManagerResource.Hide]">
                <Switch @bind-Value="@model.Hide"></Switch>
            </FormItem>
        }
        <FormItem Label="@Localizer[SystemManagerResource.Order]">
            <AntDesign.InputNumber @bind-Value="@model.Order" />
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.SupportMultiTenant]">
            <Switch @bind-Value="@model.SupportMultiTenant"></Switch>
        </FormItem>
           <FormItem Label="@Localizer[nameof(SharedLocalResource.IsLocked)]">
            <Switch @bind-Value="@model.IsLocked"></Switch>
        </FormItem>
        <FormItem Label="@Localizer[SystemManagerResource.Remark]">
            <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@model.Remark"></TextArea>
        </FormItem>
        @if (this.Options.Type.Equals(OperationDialogInputType.Edit) || this.Options.Type.Equals(OperationDialogInputType.Select))
        {
            <FormItem Label="@Localizer[nameof(SharedLocalResource.CreatedTime)]">
                <span>@model.CreatedTime.ToString(ClientConstant.DateTimeFormat)</span>
            </FormItem>
            <FormItem Label="@Localizer[nameof(SharedLocalResource.UpdatedTime)]">
                <span>@model.UpdatedTime?.ToString(ClientConstant.DateTimeFormat)</span>
            </FormItem>
        }
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Space>
                @if (!OperationDialogInputType.Select.Equals(this.Options.Type))
                {
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" HtmlType="submit">
                            @Localizer[nameof(SharedLocalResource.Save)]
                        </Button>
                    </SpaceItem>
                }
                <SpaceItem>
                    <Button OnClick="_=>OnFormCancel()">
                        @Localizer[nameof(SharedLocalResource.Cancel)]
                    </Button>
                </SpaceItem>
            </Space>
        </FormItem>
    </Form>
}