@inherits OperationDialogBase<ResourceFunctionEditOption, bool,SystemManagerResource>
<Row Style="padding-right:5px;">
    <AntDesign.Col>
        <Table DataSource="@_functionDtos"
               TItem="FunctionDto"
               PageSize="_functionDtos.Count()"
               Loading="@_loading"
               Context="model"
               Size=@TableSize.Small
               HidePagination="true"
               Bordered="true"
               SelectedRows="@_selectedFunctionDtos"
               SelectedRowsChanged="SelectedRowsChanged"
               ScrollY="75Vh"
               Style="max-height:75Vh;"
               EnableVirtualization>
            <TitleTemplate>
                @if (this.Options.Type == 0)
                {
                    <Row>
                        <AntDesign.Col Span="8">
                            <ResourceAuthorize ResourceKey="system_manager_resource_function_delete_selected">
                                <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnFunctionDeletesClick">
                                    @Localizer[nameof(SharedLocalResource.DeleteSelected)]
                                </Button>
                            </ResourceAuthorize>
                        </AntDesign.Col>
                        <AntDesign.Col Span="16" Style="text-align:right">
                            <Space>
                                <ResourceAuthorize ResourceKey="system_manager_resource_function_add_page_show">
                                    <SpaceItem>
                                        <Button Type="@ButtonType.Primary" Icon="plus" OnClick="x => OnShowFunctionAddPageClick(this.Options.Resource)">
                                            @Localizer[nameof(SharedLocalResource.Select)]
                                        </Button>
                                    </SpaceItem>
                                </ResourceAuthorize>
                                <ResourceAuthorize ResourceKey="system_manager_resource_function_download_seed_data">
                                    <SpaceItem>
                                        <Button Icon="download" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnDownloadSeedDataClick(this.Options.Resource)">
                                            @Localizer[nameof(SharedLocalResource.SeedData)]
                                        </Button>
                                    </SpaceItem>
                                </ResourceAuthorize>
                            </Space>
                        </AntDesign.Col>
                    </Row>
                }
                else if (this.Options.Type == 1)
                {
                    <Row>

                        <AntDesign.Col Span="24">
                            <Space>
                                <ResourceAuthorize ResourceKey="system_manager_resource_function_binding">
                                    <SpaceItem>
                                        <Button Type="@ButtonType.Primary" Icon="check" OnClick="x => OnFunctionAddClick()" Loading="_bindLoading">
                                            @localizer["Binding"]
                                        </Button>
                                    </SpaceItem>
                                </ResourceAuthorize>
                            </Space>
                        </AntDesign.Col>
                    </Row>
                }
            </TitleTemplate>
            <ColumnDefinitions>
                <ResourceAuthorize ResourceKey="system_manager_resource_function_delete_selected">
                    <Selection Key="@(model.Path+"_"+model.Method)" Width="50" />
                </ResourceAuthorize>
                <Column TData="string" @bind-Field="@model.Group" Width="150" Sortable="false" Filterable OnFilter="((value,name)=>name.Equals(value))" Title="@Localizer[SystemManagerResource.Group]" />
                <Column TData="string" @bind-Field="@model.Service" Width="150" Sortable="false" Filterable OnFilter="((value,name)=>name.Equals(value))" Title="@Localizer[SystemManagerResource.Service]" />
                <Column @bind-Field="@model.Summary" Width="150" Sortable="false" Ellipsis Title="@Localizer[SystemManagerResource.Summary]" />
                <Column @bind-Field="@model.Description" Width="200" Sortable="false" Ellipsis Title="@Localizer[SystemManagerResource.Description]" />
                <Column @bind-Field="@model.Path" Width="150" Sortable="false" Ellipsis Title="@Localizer[SystemManagerResource.Path]" />
                <Column @bind-Field="@model.Method" Width="100" Sortable="false" Filters="TableFiltersConstants.FunctionMethodFilters" Title="@Localizer[SystemManagerResource.Method]">
                    <TagPro Text="@EnumHelper.GetEnumDescription(model.Method)"></TagPro>
                </Column>
                <Column @bind-Field="@model.EnableAudit" Width="100" Sortable="false" Filterable Title="@Localizer[SystemManagerResource.EnableAudit]">
                    <TagYesNo Yes="@model.EnableAudit"></TagYesNo>
                </Column>
            </ColumnDefinitions>
        </Table>
    </AntDesign.Col>
</Row>
