@page "/system_tool/code_gen"
@inherits ListTableBase<CodeGenDto, int, CodeGenEdit>

<div>
    <Table @ref="_table"
           TItem="CodeGenDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableIsLoading"
           Context="model"
           RemoteDataSource>
        <TitleTemplate>
            <TableSearch TDto="CodeGenSearchDto" OnSearchFieldChanged="SetPresetFilterGroups" OnSearch="DoSearch" DefaultValue="_defaultSearchValue"></TableSearch>
            @*Custom Search*@
            <Row>
                <AntDesign.Col Span="18">
                    <Space Direction="@DirectionVHType.Vertical" Style="width: 100%">
                        <Space Size=@(("8", "16")) Wrap>
                            <SpaceItem>
                                <span>@(localizer["_CodeGen.TableName"]): </span>
                                <Select Mode="multiple"
                                    Style="width:220px;"
                                        DataSource="@_select_TableName"
                                        @bind-Values="@_searchDto.TableName"
                                        ValueName="@nameof(SelectItem.ValueName)"
                                        LabelName="@nameof(SelectItem.LabelName)"
                                        TItem="SelectItem"
                                        TItemValue="string"
                                        EnableSearch
                                        AllowClear>
                                </Select>
                            </SpaceItem>
                            <SpaceItem>
                                <span>@(localizer["_CodeGen.ClassName"]): </span>
                                <Input Style="@searchInputStyle" Type="text" TValue="string" OnPressEnter="DoSearch"
                                       @bind-Value="@_searchDto.ClassName"></Input>
                            </SpaceItem>
                        </Space>
                    </Space>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="8">
                    <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                        @localizer["删除选中"]
                    </Button>
                    <Button Type="@ButtonType.Primary" Icon="code" OnClick="OnClickGenerates" Loading="_generatesBtnLoading">
                        @localizer["批量生成"]
                    </Button>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                @localizer["添加"]
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                @localizer["刷新"]
                            </Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="folder" OnClick="OpenCodeGenFolder">
                                @localizer["代码文件夹"]
                            </Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnClickShowSeedData">
                                @localizer["种子数据"]
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnDownloadConfigSeedDataClick">
                                @localizer["Config种子数据"]
                            </Button>
                        </SpaceItem>
                    </Space>
                </AntDesign.Col>
            </Row>

        </TitleTemplate>
        <RowTemplate>
            <Selection Key="@(model.Id.ToString())" />
            <Column @bind-Field="@model.TableName" Title="@(localizer["_CodeGen.TableName"])" Sortable Filterable />
            <Column @bind-Field="@model.ClassName" Title="@(localizer["_CodeGen.ClassName"])" Sortable Filterable />
            <Column @bind-Field="@model.Module" Title="@(localizer["_CodeGen.Module"])" Sortable Filterable />
            <Column @bind-Field="@model.Remark" Title="@(localizer["_CodeGen.Remark"])" Sortable Filterable></Column>
            <Column @bind-Field="@model.MenuNameEN" Title="@(localizer["_CodeGen.MenuNameEN"])" Sortable Filterable />
            <Column @bind-Field="@model.MenuNameCH" Title="@(localizer["_CodeGen.MenuNameCH"])" Sortable Filterable />
            <Column @bind-Field="@model.TableDescriptionEN" Title="@(localizer["_CodeGen.TableDescriptionEN"])" Sortable Filterable />
            <Column @bind-Field="@model.TableDescriptionCH" Title="@(localizer["_CodeGen.TableDescriptionCH"])" Sortable Filterable />
            <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" />
            <ActionColumn Title="@localizer["Action"]" Fixed="right">
                <Space>
                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickEdit(model.Id)">
                            @localizer["Edit"]
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickConfigure(model.Id)">
                            @localizer["Configure"]
                        </Button>
                    </SpaceItem>

                    <SpaceItem>
                        <Button Type="@ButtonType.Link" Icon="menu" OnClick="()=>OnClickGenerateMenu(model.Id)" Loading="_generatesBtnLoading">
                            @localizer["GenerateMenu"]
                        </Button>
                    </SpaceItem>

                    @*<SpaceItem>
                        <Button Type="@ButtonType.Link" Icon="global" OnClick="()=>OnClickGenerateLocale(model.Id)" Loading="_generatesBtnLoading">
                            @localizer["GenerateLocale"]
                        </Button>
                    </SpaceItem>*@

                    <SpaceItem>
                        <Button Type="@ButtonType.Link" Icon="code" OnClick="()=>OnClickGenerate(model.Id)" Loading="_generatesBtnLoading">
                            @localizer["Generate"]
                        </Button>
                    </SpaceItem>

                    <SpaceItem>
                        <Button Type="@ButtonType.Link" Danger OnClick="()=>OnClickTrueDelete(model.Id)">
                            @localizer["Delete"]
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </RowTemplate>
    </Table>
</div>
