@page "/system_tool/code_gen"
@inherits ListTableBase<CodeGenDto, int, CodeGenEdit>

<div>
    <Table @ref="_table"
           TItem="CodeGenDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableIsLoading"
           Context="model"
           RemoteDataSource>
        <TitleTemplate>
            <TableSearch TDto="CodeGenSearchDto" OnSearchFieldChanged="SetPresetFilterGroups" OnSearch="DoSearch" DefaultValue="_defaultSearchValue"></TableSearch>
            @*Custom Search*@
            <Row>
                <AntDesign.Col Span="18">
                    <Space Direction="@DirectionVHType.Vertical" Style="width: 100%">
                        <Space Size=@(("8", "16")) Wrap>
                            <SpaceItem>
                                <span>TableName: </span>
                                <Select Mode="multiple"
                                        DataSource="@_select_TableName"
                                        @bind-Values="@_searchDto.TableName"
                                        ValueName="@nameof(SelectItem.ValueName)"
                                        LabelName="@nameof(SelectItem.LabelName)"
                                        TItem="SelectItem"
                                        TItemValue="string"
                                        EnableSearch
                                        AllowClear>
                                </Select>
                            </SpaceItem>
                            <SpaceItem>
                                <span>ClassName: </span>
                                <Input Style="@searchInputStyle" Type="text" TValue="string"
                                       @bind-Value="@_searchDto.ClassName"></Input>
                            </SpaceItem>
                        </Space>
                    </Space>
                </AntDesign.Col>
                @*<AntDesign.Col Span="2">
                    <Button Icon="search" Shape="@ButtonShape.Round" OnClick="DoSearch">
                        @localizer["Search"]
                    </Button>
                    <Button Icon="sync" Type="@ButtonType.Dashed" OnClick="DoClearSearch">
                        @localizer["Clear"]
                    </Button>
                </AntDesign.Col>*@
            </Row>
            <Row>
                <AntDesign.Col Span="8">
                    <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                        @localizer["删除选中"]
                    </Button>
                    <Button Type="@ButtonType.Primary" OnClick="OnClickGenerates" Loading="_generatesBtnLoading">
                        @localizer["批量生成"]
                    </Button>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                @localizer["添加"]
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                @localizer["刷新"]
                            </Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="folder" OnClick="OpenCodeGenFolder">
                                @localizer["代码文件夹"]
                            </Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnClickShowSeedData">
                                @localizer["种子数据"]
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnDownloadConfigSeedDataClick">
                                @localizer["Config种子数据"]
                            </Button>
                        </SpaceItem>
                    </Space>
                </AntDesign.Col>
            </Row>

        </TitleTemplate>
        <RowTemplate>
            <Selection Key="@(model.Id.ToString())" />
            <Column @bind-Field="@model.TableName" Title="@(localizer["_Sys._CodeGen.TableName"])" Sortable Filterable />
            <Column @bind-Field="@model.ClassName" Title="@(localizer["_Sys._CodeGen.ClassName"])" Sortable Filterable />
            <Column @bind-Field="@model.Module" Title="@(localizer["_Sys._CodeGen.Module"])" Sortable Filterable />
            <Column @bind-Field="@model.Remark" Sortable Filterable></Column>
            <Column @bind-Field="@model.MenuNameEN" Title="@(localizer["_Sys._CodeGen.MenuNameEN"])" Sortable Filterable />
            <Column @bind-Field="@model.MenuNameCH" Title="@(localizer["_Sys._CodeGen.MenuNameCH"])" Sortable Filterable />
            <Column @bind-Field="@model.TableDescriptionEN" Title="@(localizer["_Sys._CodeGen.TableDescriptionEN"])" Sortable Filterable />
            <Column @bind-Field="@model.TableDescriptionCH" Title="@(localizer["_Sys._CodeGen.TableDescriptionCH"])" Sortable Filterable />
            <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" />
            <ActionColumn Title="@localizer["Action"]" Fixed="right">
                <Space>
                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickEdit(model.Id)">
                            @localizer["Edit"]
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickConfigure(model.Id)">
                            @localizer["Configure"]
                        </Button>
                    </SpaceItem>

                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickGenerateMenu(model.Id)">
                            @localizer["GenerateMenu"]
                        </Button>
                    </SpaceItem>

                    <SpaceItem>
                        <Button Type="@ButtonType.Link" OnClick="()=>OnClickGenerate(model.Id)">
                            @localizer["Generate"]
                        </Button>
                    </SpaceItem>


                    <SpaceItem>
                        <Button Type="@ButtonType.Link" Danger OnClick="()=>OnClickTrueDelete(model.Id)">
                            @localizer["Delete"]
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </RowTemplate>
    </Table>
</div>
