@inherits FeedbackComponent<int, bool>

<div>
    <Button OnClick="SaveAll" Type="primary" Style="margin-bottom:16px">
    SaveAll
    </Button>
    <Table DataSource="_list"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableIsLoading"
           RowClassName="@(_=>"editable-row")" Bordered>
        <PropertyColumn Property="c=>c.ColumnName" Width="10%">
            @*<Input Type="text" @bind-Value="context.ColumnName" OnBlur="stopEdit" AutoFocus />*@
        </PropertyColumn>
        <PropertyColumn Property="c=>c.NetColumnName" Width="10%">
            <Input Type="text" @bind-Value="context.NetColumnName" OnBlur="stopEdit" AutoFocus />
        </PropertyColumn>

        <PropertyColumn Property="c=>c.IsSearch" Width="10%">
            <TitleTemplate>
                <span>IsSearch</span>
                <Button OnClick="()=>_list.ForEach(it=>it.IsSearch = true)">
                    SelectAll
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsSearch = false)">
                    Clear
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsSearch = !it.IsSearch)">
                    Toggle
                </Button>
            </TitleTemplate>
            <ChildContent>
                <Switch @bind-Checked="context.IsSearch"></Switch>
            </ChildContent>
        </PropertyColumn>
        
        <PropertyColumn Property="c=>c.IsView" Width="10%">
            <TitleTemplate>
                <span>IsView</span>
                <Button OnClick="()=>_list.ForEach(it=>it.IsView = true)">
                    SelectAll
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsView = false)">
                    Clear
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsView = !it.IsView)">
                    Toggle
                </Button>
            </TitleTemplate>
            <ChildContent>
                <Switch @bind-Checked="context.IsView"></Switch>
            </ChildContent>
        </PropertyColumn>

        <PropertyColumn Property="c=>c.IsCreate" Width="10%">
            <TitleTemplate>
                <span>IsCreate</span>
                <Button OnClick="()=>_list.ForEach(it=>it.IsCreate = true)">
                    SelectAll
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsCreate = false)">
                    Clear
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsCreate = !it.IsCreate)">
                    Toggle
                </Button>
            </TitleTemplate>
            <ChildContent>
                <Switch @bind-Checked="context.IsCreate"></Switch>
            </ChildContent>
        </PropertyColumn>

        <PropertyColumn Property="c=>c.IsEdit" Width="10%">
            <TitleTemplate>
                <span>IsEdit</span>
                <Button OnClick="()=>_list.ForEach(it=>it.IsEdit = true)">
                    SelectAll
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsEdit = false)">
                    Clear
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsEdit = !it.IsEdit)">
                    Toggle
                </Button>
            </TitleTemplate>
            <ChildContent>
                <Switch @bind-Checked="context.IsEdit"></Switch>
            </ChildContent>
        </PropertyColumn>

        <PropertyColumn Property="c=>c.IsBatchEdit" Width="10%">
            <TitleTemplate>
                <span>IsBatchEdit</span>
                <Button OnClick="()=>_list.ForEach(it=>it.IsBatchEdit = true)">
                    SelectAll
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsBatchEdit = false)">
                    Clear
                </Button>
                <Button OnClick="()=>_list.ForEach(it=>it.IsBatchEdit = !it.IsBatchEdit)">
                    Toggle
                </Button>
            </TitleTemplate>
            <ChildContent>
                <Switch @bind-Checked="context.IsBatchEdit"></Switch>
            </ChildContent>
        </PropertyColumn>

        <PropertyColumn Property="c=>c.ClientComponentType" Width="10%">
            <Select Mode="single"
                    @bind-Value="@context.ClientComponentType"
                    TItem="ClientComponentType"
                    TItemValue="ClientComponentType"
                    EnableSearch
                    AllowClear>
                <SelectOptions>
                    @foreach (var item in EnumHelper.EnumToDictionary<ClientComponentType>())
                    {
                        <SelectOption Value="@item.Key" Label="@item.Value"  TItemValue="ClientComponentType" TItem="ClientComponentType"/>
                    }
                </SelectOptions>
            </Select>
        </PropertyColumn>

        <PropertyColumn Property="c=>c.ColumnDescription" Width="10%"></PropertyColumn>
        <PropertyColumn Property="c=>c.DbDataType" Width="10%"></PropertyColumn>
        <PropertyColumn Property="c=>c.DataType" Width="10%"></PropertyColumn>
        <PropertyColumn Property="c=>c.NetType" Width="10%"></PropertyColumn>
        <PropertyColumn Property="c=>c.ColumnComment" Width="10%"></PropertyColumn>
        
    </Table>
</div>


<style>
    .editable-cell {
        position: relative;
    }

    .editable-cell-value-wrap {
        padding: 5px 12px;
        cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

    [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #434343;
    }
</style>