@page "/system_manager/easy_job_log"
@inherits ListTableBase<SysJobLogDto, long, EasyJobLocalResource>
<div>
    <Table @ref="_table"
           TItem="SysJobLogDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
            @bind-PageIndex="_pageIndex"
            @bind-PageSize="_pageSize"
            @bind-SelectedRows="_selectedRows"
           Loading="@_tableLoading.Value"
           Context="model"
           ScrollX="100%">
        <TitleTemplate>
            <ResourceAuthorize ResourceKey="system_manager_easy_job_log_search">
                <TableSearch TDto="SysJobLogDto" @ref="this._tableSearch" OnSearch="OnTableSearch" Settings="@_tableSearchSettings" CustomLocalizer="Localizer" />
            </ResourceAuthorize>
        </TitleTemplate>
        <ColumnDefinitions>
             <Column @bind-Field="@model.JobId" Filterable Title="@Localizer[EasyJobLocalResource.JobId]" Width="150" Fixed="left">
                 <a href="system_manager/easy_job_detail?JobId=@model.JobId">@model.JobId</a>
             </Column>
             <Column @bind-Field="@model.JobDetailDescription" Filterable Title="@(Localizer.Combination(EasyJobLocalResource.Job,EasyJobLocalResource.Description))" Width="150" Fixed="left">
                 <a href="system_manager/easy_job_detail?JobId=@model.JobId">@(model.JobDetailDescription ?? model.JobId)</a>
             </Column>
             <Column @bind-Field="@model.TriggerId" Filterable Title="@Localizer[EasyJobLocalResource.TriggerId]" Width="150" Fixed="left" >
                 <a href="system_manager/easy_job_trigger?TriggerId=@model.TriggerId">@model.TriggerId</a>
             </Column>
             <Column @bind-Field="@model.JobTriggerDescription" Filterable Title="@(Localizer.Combination(EasyJobLocalResource.Trigger,EasyJobLocalResource.Description))" Width="150" Fixed="left">
                 <a href="system_manager/easy_job_trigger?TriggerId=@model.TriggerId">@(model.JobTriggerDescription??model.TriggerId)</a>
             </Column>
             <Column @bind-Field="@model.Succeeded" Filterable Title="@Localizer[EasyJobLocalResource.Succeed]" Width="150" Fixed="left">
                 <TagYesNo Yes="model.Succeeded"></TagYesNo>
             </Column>
             <Column @bind-Field="@model.ElapsedTime" Filterable Title="@Localizer[EasyJobLocalResource.ElapsedTime]" Width="150" />
             <Column @bind-Field="@model.LastRunTime" Format="@ClientConstant.DateTimeFormat" Filterable Title="@Localizer[EasyJobLocalResource.LastRunTime]" Width="150" />
             <Column @bind-Field="@model.NextRunTime" Format="@ClientConstant.DateTimeFormat" Filterable Title="@Localizer[EasyJobLocalResource.NextRunTime]" Width="150" />
             <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" Title="@Localizer[SharedLocalResource.CreatedTime]" Width="200" />
             <ActionColumn Width="200" Fixed="right">
                 <Space>
                     <ResourceAuthorize ResourceKey="system_manager_easy_job_log_detail">
                         <SpaceItem>
                             <Tooltip Title="@(Localizer[SharedLocalResource.Detail])" ArrowPointAtCenter="true">
                                 <Button Icon="eye" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize"></Button>
                             </Tooltip>
                         </SpaceItem>
                     </ResourceAuthorize>
                 </Space>
             </ActionColumn>
         </ColumnDefinitions>
     </Table>
 </div>