@inherits EditOperationDialogBase<FunctionDto, Guid,SystemManagerResource>

<Form Loading="@_dialogLoading.Value"
      Model="@_editModel"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      OnFinish="OnFormFinish"
      Context="model">
    <FormItem Label="@Localizer[nameof(SharedLocalResource.Id)]">
        <Input @bind-Value="@model.Id" Disabled />
    </FormItem>
     <FormItem Label="@Localizer[nameof(SharedLocalResource.Group)]">
        <Input @bind-Value="@model.Group" />
    </FormItem>
     <FormItem Label="@Localizer[nameof(SharedLocalResource.Service)]">
        <Input @bind-Value="@model.Service" />
    </FormItem>
     <FormItem Label="@Localizer[nameof(SharedLocalResource.Summary)]">
        <Input @bind-Value="@model.Summary" />
    </FormItem>
    <FormItem Label="@Localizer[nameof(SharedLocalResource.Path)]">
        <Input @bind-Value="@model.Path" />
    </FormItem>
     <FormItem Label="@Localizer[nameof(SharedLocalResource.Method)]">
        <SimpleSelect @bind-Value="@_currentEditModelHttpMethodType"
                      DefaultValue="@(model.Method.ToString())"
                      Style="width:120px;">
            <SelectOptions>
                @foreach (var gitem in EnumHelper.EnumToDictionary<HttpMethod>())
                {
                    <SimpleSelectOption Value="@(gitem.Key.ToString())" Label="@(gitem.Value)"></SimpleSelectOption>
                }
            </SelectOptions>
        </SimpleSelect>
    </FormItem>
    <FormItem Label="@Localizer[nameof(SharedLocalResource.Description)]">
        <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@model.Description"></TextArea>
    </FormItem>
    <FormItem Label="@Localizer[nameof(SystemManagerResource.EnableAudit)]">
        <Switch @bind-Value="@model.EnableAudit"></Switch>
    </FormItem>
    <FormItem Label="@Localizer[nameof(SharedLocalResource.IsLocked)]">
        <Switch @bind-Value="@model.IsLocked"></Switch>
    </FormItem>

    @if (this.Options.Type.Equals(OperationDialogInputType.Edit) || this.Options.Type.Equals(OperationDialogInputType.Select))
    {
        <FormItem Label="@Localizer[nameof(SharedLocalResource.CreatedTime)]">
            <span>@model.CreatedTime.ToString(ClientConstant.DateTimeFormat)</span>
        </FormItem>
        <FormItem  Label="@Localizer[nameof(SharedLocalResource.UpdatedTime)]">
            <span>@model.UpdatedTime?.ToString(ClientConstant.DateTimeFormat)</span>
        </FormItem>
    }
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Space>
            @if (!OperationDialogInputType.Select.Equals(this.Options.Type))
            {
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        @Localizer[nameof(SharedLocalResource.Save)]
                    </Button>
                </SpaceItem>
            }
            <SpaceItem>
                <Button OnClick="_=>OnFormCancel()">
                    @Localizer[nameof(SharedLocalResource.Cancel)]
                </Button>
            </SpaceItem>
        </Space>
    </FormItem>
</Form>