@*@inherits RazorEngine.Templating.TemplateBase<Gardener.CodeGeneration.Dtos.CodeGenNameModel>*@

@using Gardener.Enums

@@page "/@Model.Module/@Model.ClassName"
@@using Gardener.Base
@@inherits @(Model.Module)BaseTable<@(Model.ClassName)Dto, @(Model.ClassName)Edit>


<div>
    <Table @@ref="_table"
           Context="model"
           TItem="@(Model.ClassName)Dto"
           DataSource="@@_datas"
           Total="_total"
           OnChange="@@OnChange"
           ScrollX="1500"
           @@bind-PageIndex="_pageIndex"
           @@bind-PageSize="_pageSize"
           @@bind-SelectedRows="_selectedRows"
           Loading="@@_tableIsLoading"
           ScrollX="1500"
           RemoteDataSource>

        @@*Search Field*@@
        <TitleTemplate>
            <ResourceAuthorize ResourceKey=@@(GetAuthKey(AuthKeys.Search))>
                <TableSearch TDto="@(Model.ClassName)SearchDto" OnSearchFieldChanged="SetPresetFilterGroups" OnSearch="DoSearch" DefaultValue="_defaultSearchValue"></TableSearch>
                @@*Custom Search*@@
                @if(Model.HasCustomSearch)
                {
                <Row>
                    <AntDesign.Col Span="18">
                        <Space Direction="@@DirectionVHType.Vertical" Style="width: 100%">
                            <Space Size=@@(("8", "16")) Wrap>
                    @foreach (var item in Model.CodeGenConfigs)
                    {
                        @if (!item.IsCustomSearch) continue;

                        @switch (item.CustomSearchType)
                        {
                            case ClientComponentType.Select:
                            <SpaceItem>
                                <span>@@(localizer["@item.ColumnLocaleKey"]): </span>
                                <Select Mode="single"
                                        DataSource="@@_select_@item.ColumnName"
                                        @@bind-Value="@@_searchDto.@item.ColumnName"
                                        ValueName="@@nameof(SelectItem.ValueName)"
                                        LabelName="@@nameof(SelectItem.LabelName)"
                                        TItem="SelectItem"
                                        TItemValue="string"
                                        EnableSearch
                                        AllowClear>
                                </Select>
                            </SpaceItem>
                            break;
                            case ClientComponentType.MultiSelect:
                            <SpaceItem>
                                <span>@@(localizer["@item.ColumnLocaleKey"]): </span>
                                <Select Mode="multiple"
                                        DataSource="@@_select_@item.ColumnName"
                                        @@bind-Values="@@_searchDto.@item.ColumnName"
                                        ValueName="@@nameof(SelectItem.ValueName)"
                                        LabelName="@@nameof(SelectItem.LabelName)"
                                        TItem="SelectItem"
                                        TItemValue="string"
                                        EnableSearch
                                        AllowClear>
                                </Select>
                            </SpaceItem>
                            break;
                            default: @*Input*@
                            <SpaceItem>
                                <span>@@(localizer["@item.ColumnLocaleKey"]): </span>
                                <Input Style="@@searchInputStyle" Type="text" TValue="string"
                                       @@bind-Value="@@_searchDto.@item.ColumnName"></Input>
                            </SpaceItem>
                            break;
                        }
                    }
                            
                            </Space>
                        </Space>
                    </AntDesign.Col>
                </Row>
                }
            </ResourceAuthorize>
            <Row>
                <AntDesign.Col Span="8">
                    <ResourceAuthorize ResourceKey=@@(GetAuthKey(AuthKeys.Delete))>
                        <Button Type="@@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                            @@localizer["DeleteSelected"]
                        </Button>
                    </ResourceAuthorize>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Add)>
                            <SpaceItem>
                                <Button Type="@@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                    @@localizer["Add"]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Search)>
                            <SpaceItem>
                                <Button Type="@@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                    @@localizer["Refresh"]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                    </Space>
                </AntDesign.Col>
            </Row>
        </TitleTemplate>

        @@*Main Table*@@
        <RowTemplate>
            <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Edit)>
                <Selection Key="@@(model.Id)" />
            </ResourceAuthorize>
            
            @foreach (var item in Model.CodeGenConfigs)
            {
                @if (!item.IsView) continue;

                @switch (item.ClientComponentType)
                {
                    case ClientComponentType.DateTime:
                    <Column @@bind-Field="@@model.@item.ColumnName" Format="@@ClientConstant.DateTimeFormat" Title="@@(localizer["@item.ColumnLocaleKey"])" Sortable DefaultSortOrder="@@SortDirection.Descending" />
                    break;
                    case ClientComponentType.Switch:
                    <Column @@bind-Field="@@model.@item.ColumnName" Filterable>
                        <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Edit)>
                            <Authorized>
                                <Switch @@bind-Value="@@model.@item.ColumnName" OnChange="e=>OnChangeIsLocked(model,e)"></Switch>
                            </Authorized>
                            <NotAuthorized>
                                <TagYesNo Yes="@@model.@item.ColumnName"></TagYesNo>
                            </NotAuthorized>
                        </ResourceAuthorize>
                    </Column>
                    break;
                    case ClientComponentType.Image:
                    <Avatar Src="@@model.@item.ColumnName" Title="@@(localizer["@item.ColumnLocaleKey"])" />
                    break;
                    default:
                    <Column @@bind-Field="@@model.@item.ColumnName" Title="@@(localizer["@item.ColumnLocaleKey"])" Sortable Filterable />
                    break;
                }
            }
            
            <Column @@bind-Field="@@model.ReadState" Filterable Align=ColumnAlign.Right>
                <TagYesNo Yes="model.ReadState"></TagYesNo>
            </Column>
            <Column @@bind-Field="@@model.SendState" Filterable Align=ColumnAlign.Right>
                <TagYesNo Yes="model.SendState"></TagYesNo>
            </Column>
            <Column @@bind-Field="@@model.IsLocked" Filterable Align=ColumnAlign.Right>
                <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Edit)>
                    <Authorized>
                        <Switch @@bind-Value="@@model.IsLocked" OnChange="e=>OnChangeIsLocked(model,e)"></Switch>
                    </Authorized>
                    <NotAuthorized>
                        <TagYesNo Yes="model.IsLocked"></TagYesNo>
                    </NotAuthorized>
                </ResourceAuthorize>
            </Column>
            @@*Action Column*@@
            <ActionColumn Title=@@localizer["Action"] Fixed="right">
                <Space>
                    <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Edit)>
                        <SpaceItem>
                            <Button OnClick="()=>OnClickEdit(model.Id)" Type="@@ButtonType.Link">
                                @@localizer["Edit"]
                            </Button>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Search)>
                        <SpaceItem>
                            <Button OnClick="()=>OnClickDetail(model.Id)" Type="@@ButtonType.Link">
                                @@localizer["Detail"]
                            </Button>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey=@@GetAuthKey(AuthKeys.Delete)>
                        <SpaceItem>
                            <Button OnClick="()=>OnClickDelete(model.Id)"  Danger Type="@@ButtonType.Link">
                                @@localizer["Delete"]
                            </Button>
                        </SpaceItem>
                    </ResourceAuthorize>
                </Space>
            </ActionColumn>
        </RowTemplate>
    </Table>
</div>

