<Table
       PageSize="AuditProperties.Count"
       DataSource="@AuditProperties" Bordered=@true Size=@TableSize.Small HidePagination="true">
    <Column @bind-Field="@context.FieldName" />
    <Column @bind-Field="@context.DisplayName" />
    <Column @bind-Field="@context.DataType" />
    @if (!EntityOperationType.Add.Equals(OperationType))
    {
        <Column @bind-Field="@context.OriginalValue" Style="max-width:200px" />
    }
    @if (!EntityOperationType.Delete.Equals(OperationType))
    {
        <Column @bind-Field="@context.NewValue" Style="max-width:200px" />
    }
</Table>
@code {
    /// <summary>
    /// 属性审计信息
    /// </summary>
    [Parameter]
    public ICollection<AuditPropertyDto> AuditProperties { get; set; }
    /// <summary>
    /// 操作类型
    /// </summary>
    [Parameter]
    public EntityOperationType OperationType { get; set; }
}
