@page "/wo-chat"
@using Gardener.UserCenter.Dtos;
@using Gardener.WoChat.Dtos;
@using Gardener.WoChat.Enums;
@inherits OperationDialogBase<Guid?,bool,WoChatResource>
<GridRow Style="@($"height:{height}px;")">
    @*<GridCol Span="2">
    <GridRow>
    <GridCol Span="24">
    <Button Type="@ButtonType.Dashed" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Message" Block />
    </GridCol>
    </GridRow>
    </GridCol>
    <GridCol Span="6" Style="border: 1px solid #ccc;">
    <GridRow>
    <GridCol Span="24">
    @if (imSessions != null && imSessions.Count() > 0)
    {
    <AntList DataSource="imSessions" TItem="ImSessionDto ">
    <ListItem>
    <Comment Avatar="@context.Users.First().Avatar"
    Author="@context.Users.First().NickName">
    </Comment>
    </ListItem>
    </AntList>
    }
    </GridCol>
    </GridRow>

    </GridCol>*@
    <GridCol Span="24">
        <Tabs ActiveKey="@tabActiveKey" TabPosition="TabPosition.Left" OnChange="OnChange">
            <TabPane Key="@tabMessageKey">
                <TabTemplate>
                    <Icon Type="message" Theme="outline" Style="font-size:34px;" />
                </TabTemplate>
                <ChildContent>
                    <GridRow Style="margin-left: -24px;">
                        <GridCol Span="6" Style="@($"height:{height}px;overflow-y:scroll;border-right: 1px solid #ccc;")">
                            <Spin Spinning="sessionListLoading">
                                @if (imSessions != null)
                                {
                                    <AntList DataSource="imSessions" TItem="ImSessionDto ">
                                        <ListItem OnClick="()=>OnClickSessionListItem(context)" Style="@("padding-left:10px;"+(context.Id.Equals(sessionListSelectedSessionId)?"background-color: #c5c4c4;":""))">
                                            <span>
                                                @if (context.SessionType.Equals(ImSessionType.Personal))
                                                {
                                                    UserDto userTemp = context.Users.Where(x => x.Id != currentUser?.Id).First();
                                                    @if (userTemp.Avatar == null)
                                                    {
                                                        <Avatar Size="large">@(userTemp.GetAvatarFromName())</Avatar>
                                                    }
                                                    else
                                                    {
                                                        <Avatar Size="large" Src="@userTemp.Avatar" />
                                                    }
                                                    @(context.SessionName)
                                                }
                                                else
                                                {
                                                    <AvatarGroup MaxCount="2" MaxStyle="color: #f56a00; background-color:#fde3cf;">
                                                        @foreach(var user in context.Users)
                                                        {
                                                            @if (user.Avatar == null)
                                                            {
                                                                <Avatar Size="small">@(user.GetAvatarFromName())</Avatar>
                                                            }
                                                            else
                                                            {
                                                                <Avatar Size="small" Src="@user.Avatar" />
                                                            }
                                                        }
                                                    </AvatarGroup>
                                                    @(context.SessionName)
                                                }
                                            </span>
                                        </ListItem>
                                    </AntList>
                                }
                            </Spin>
                        </GridCol>
                        <GridCol Span="18" Style="@($"height:{height}px;overflow-y:scroll;padding-left: 10px;")">
                            <GridRow>
                                <GridCol Span="24">
                                    <span>@sessionListSelectedSession?.SessionName</span>
                                </GridCol>
                            </GridRow>
                            <GridRow Style="margin-top:5px;">
                                <GridCol Span="24" Style="text-align:center;">
                                    @if (userListSelectedUser != null)
                                    {
                                        <Button Type="@ButtonType.Primary" OnClick="OnClickSendMessage">
                                            @Localizer[WoChatResource.SendMessage]
                                        </Button>
                                    }
                                </GridCol>

                            </GridRow>
                        </GridCol>
                    </GridRow>
                </ChildContent>
            </TabPane>
            <TabPane Key="@tabUsersKey">
                <TabTemplate>
                    <Icon Type="team" Theme="outline" Style="font-size:34px;" />
                </TabTemplate>
                <ChildContent>
                    <GridRow Style="margin-left: -24px;">
                        <GridCol Span="6" Style="@($"height:{height}px;overflow-y:scroll;border-right: 1px solid #ccc;")">
                            <GridRow>
                                <GridCol Span="24" Style="padding:5px 0px;">
                                    @if (openGroupMode)
                                    {
                                        <InputGroup Compact>
                                        <Input Placeholder="输入群组名称" @bind-Value="@openGroupName" Style="width: 80%;" />
                                        <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Check" Size="@ButtonSize.Default" OnClick="OnClickOpenGroupModeOk" />
                                    </InputGroup>

                                    }
                                    else
                                    {
                                        <Button Block Icon="@IconType.Outline.Plus" Size="@ButtonSize.Default" OnClick="OnClickOpenGroupMode">发起群聊</Button>
                                    }
                                </GridCol>
                            </GridRow>
                            <GridRow>
                                <GridCol Span="24">
                                    <Spin Spinning="userListLoading">
                                        @if (users != null)
                                        {
                                            <AntList DataSource="users" TItem="UserDto ">
                                                <ListItem OnClick="()=>OnClickUserListItem(context)" Style="@("padding-left:10px;"+(userListSelectedUser?.Id==context.Id?"background-color: #c5c4c4;":""))">
                                                    <span>
                                                        @if (openGroupMode)
                                                        {
                                                            <Checkbox @bind-Checked="openGroupSelectedUsers[context.Id]" />
                                                        }
                                                        @if (context.Avatar == null)
                                                        {
                                                            <Avatar Size="large">@(context.GetAvatarFromName())</Avatar>
                                                        }
                                                        else
                                                        {
                                                            <Avatar Size="large" Src="@context.Avatar" />
                                                        }
                                                        @(context.NickName ?? context.UserName)
                                                    </span>
                                                </ListItem>
                                            </AntList>
                                        }
                                    </Spin>
                                </GridCol>
                            </GridRow>

                        </GridCol>
                        <GridCol Span="18" Style="@($"height:{height}px;overflow-y:scroll;padding-left: 10px;")">
                            <GridRow>
                                <GridCol Span="24">
                                    @if (userListSelectedUser == null)
                                    {
                                        <Empty Simple Description="false" />
                                    }
                                    else
                                    {
                                        <Descriptions Title="@Localizer[WoChatResource.UserInfo]" Bordered Style="text-align:center;">
                                            <DescriptionsItem Title="@Localizer[WoChatResource.Avatar]" Span="3">
                                                @if (userListSelectedUser?.Avatar == null)
                                                {
                                                    <Avatar Size="5rem">@(userListSelectedUser?.GetAvatarFromName())</Avatar>
                                                }
                                                else
                                                {
                                                    <Avatar Size="5rem" Src="@userListSelectedUser?.Avatar" />
                                                }
                                            </DescriptionsItem>
                                            <DescriptionsItem Title="@Localizer[WoChatResource.UserName]" Span="3">@(userListSelectedUser?.UserName)</DescriptionsItem>
                                                <DescriptionsItem Title="@Localizer[WoChatResource.NickName]" Span="3">@(userListSelectedUser?.NickName)</DescriptionsItem>
                                            </Descriptions>
                                    }
                                </GridCol>
                            </GridRow>
                            <GridRow Style="margin-top:5px;">
                                <GridCol Span="24" Style="text-align:center;">
                                    @if (userListSelectedUser != null)
                                    {
                                        <Button Type="@ButtonType.Primary" OnClick="OnClickSendMessage">
                                            @Localizer[WoChatResource.SendMessage]
                                        </Button>
                                    }
                                </GridCol>

                            </GridRow>
                        </GridCol>
                    </GridRow>
                </ChildContent>
            </TabPane>
        </Tabs>
    </GridCol>
</GridRow>