@inherits EditOperationDialogBase<RoleDto, int,UserCenterResource>

<Form Loading="@_dialogLoading.Value"
      Model="@_editModel"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      OnFinish="OnFormFinish"
      Context="model">
    <ResourceAuthorize ResourceKey="@Authorization.Constants.ResourceKeys.SystemTenantAdministratorKey">
        <FormItem Label="@Localizer[UserCenterResource.Tenant]">
            <Select DataSource="@_tenants"
            @bind-Value="@model.TenantId"
                    ValueName="@nameof(SystemTenantDto.Id)"
                    LabelName="@nameof(SystemTenantDto.Name)"
                    TItem="SystemTenantDto"
                    TItemValue="Guid?"
                    AllowClear>
            </Select>
        </FormItem>
    </ResourceAuthorize>
    <FormItem Label="@Localizer[UserCenterResource.Name]">
        <Input @bind-Value="@model.Name" />
    </FormItem>
    <FormItem Label="@Localizer[UserCenterResource.Remark]">
        <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@model.Remark"></TextArea>
    </FormItem>
    <FormItem Label="@Localizer[UserCenterResource.IsSuperAdministrator]">
        <Switch @bind-Value="@model.IsSuperAdministrator"></Switch>
    </FormItem>
    <FormItem Label="@Localizer[UserCenterResource.IsDefault]">
        <Switch @bind-Value="@model.IsDefault"></Switch>
    </FormItem>
    <FormItem Label="@Localizer[SharedLocalResource.IsLocked]">
        <Switch @bind-Value="@model.IsLocked"></Switch>
    </FormItem>
    @if (this.Options.Type.Equals(OperationDialogInputType.Edit) || this.Options.Type.Equals(OperationDialogInputType.Select))
    {
        <FormItem Label="@Localizer[SharedLocalResource.CreatedTime]">
            <span>@model.CreatedTime.ToString(ClientConstant.DateTimeFormat)</span>
        </FormItem>
        <FormItem  Label="@Localizer[SharedLocalResource.UpdatedTime]">
            <span>@model.UpdatedTime?.ToString(ClientConstant.DateTimeFormat)</span>
        </FormItem>
    }
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Space>
            @if (!OperationDialogInputType.Select.Equals(this.Options.Type))
            {
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        @Localizer[SharedLocalResource.Save]
                    </Button>
                </SpaceItem>
            }
            <SpaceItem>
                <Button OnClick="_=>OnFormCancel()">
                    @Localizer[SharedLocalResource.Cancel]
                </Button>
            </SpaceItem>
        </Space>
    </FormItem>
</Form>