@page "/user_center/role"
@inherits ListOperateTableBase<RoleDto, int, RoleEdit,UserCenterResource>
<div>
    <Table @ref="_table"
           TItem="RoleDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableLoading.Value"
           Context="model"
           RemoteDataSource>
        <TitleTemplate>
             <ResourceAuthorize ResourceKey="user_center_role_refresh">
                <TableSearch TDto="RoleDto" @ref="this._tableSearch" OnSearch="OnTableSearch" Settings="@_tableSearchSettings" CustomLocalizer="Localizer" />
             </ResourceAuthorize>
            <Row>
                <AntDesign.Col Span="8">
                    <ResourceAuthorize ResourceKey="user_center_role_delete_selected">
                        <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                            @Localizer[SharedLocalResourceKeys.DeleteSelected]
                        </Button>
                    </ResourceAuthorize>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <ResourceAuthorize ResourceKey="user_center_role_add">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                    @Localizer[SharedLocalResourceKeys.Add]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="user_center_role_refresh">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                    @Localizer[SharedLocalResourceKeys.Refresh]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="user_center_role_resource_download_seed_data">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnDownloadClick">
                                    @Localizer[SharedLocalResourceKeys.SeedData]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                    </Space>
                </AntDesign.Col>
            </Row>

        </TitleTemplate>
            <ColumnDefinitions>
            <Selection Key="@(model.Id.ToString())" Hidden="@_userUnauthorizedResources["user_center_role_delete_selected"]" />
             <Column TData="string" Title="@SharedLocalResource.Tenant" Hidden="@_userUnauthorizedResources[Authorization.Constants.ResourceKeys.SystemTenantAdministratorKey]">
                <span>@model.Tenant?.Name</span>
            </Column>
             <Column @bind-Field="@model.Id" Sortable Title="@SharedLocalResource.Id" />
            <Column @bind-Field="@model.Name" Filterable Title="@UserCenterResource.Name" />
            <Column @bind-Field="@model.Remark" Filterable Title="@SharedLocalResource.Remark" />
            <Column @bind-Field="@model.IsSuperAdministrator" Filterable Title="@UserCenterResource.IsSuperAdministrator">
                <TagYesNo Yes="model.IsSuperAdministrator"></TagYesNo>
            </Column>
            <Column @bind-Field="@model.IsDefault" Filterable Title="@UserCenterResource.IsDefault">
                <TagYesNo Yes="model.IsDefault"></TagYesNo>
            </Column>
            <Column @bind-Field="@model.IsLocked" Filterable Title="@SharedLocalResource.IsLocked">
                <ResourceAuthorize ResourceKey="user_center_role_lock">
                    <Authorized>
                        <Switch @bind-Value="@model.IsLocked" OnChange="e=>OnChangeIsLocked(model,e)" Loading="_lockBtnLoading[model]"></Switch>
                    </Authorized>
                    <NotAuthorized>
                        <TagYesNo Yes="model.IsLocked"></TagYesNo>
                    </NotAuthorized>
                </ResourceAuthorize>
            </Column>
            <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" Title="@SharedLocalResource.CreatedTime" />
            <ActionColumn>
                <Space>
                    <ResourceAuthorize ResourceKey="user_center_role_edit">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Edit])" ArrowPointAtCenter="true">
                                <Button Icon="edit" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickEdit(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_set_resource">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer["BindingResource"])" ArrowPointAtCenter="true">
                                <Button Icon="security-scan" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnEditRoleResourceClick(model)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_detail">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Detail])" ArrowPointAtCenter="true">
                                <Button Icon="eye" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickDetail(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_delete">
                        <SpaceItem>
                            <Tooltip Title="@(Localizer[SharedLocalResourceKeys.Delete])" ArrowPointAtCenter="true">
                                <Button Icon="delete" Type="@ButtonType.Primary" Danger OnClick="()=>OnClickDelete(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                </Space>
            </ActionColumn>
        </ColumnDefinitions>
    </Table>
</div>
