@page "/user_center/role"
@inherits TableBase<RoleDto, int, RoleEdit>
<div>
    <Table @ref="_table"
           TItem="RoleDto"
           DataSource="@_datas"
           Total="_total"
           OnChange="@OnChange"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="_selectedRows"
           Loading="@_tableIsLoading"
           Context="model"
           RemoteDataSource>
        <TitleTemplate>
             <ResourceAuthorize ResourceKey="user_center_role_refresh">
                <TableSearch TDto="RoleDto" OnSearchFieldChanged="SetPresetFilterGroups" OnSearch="()=>ReLoadTable(true)" DefaultValue="_defaultSearchValue"></TableSearch>
             </ResourceAuthorize>
            <Row>
                <AntDesign.Col Span="8">
                    <ResourceAuthorize ResourceKey="user_center_role_delete_selected">
                        <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnClickDeletes" Loading="_deletesBtnLoading">
                            @localizer["删除选中"]
                        </Button>
                    </ResourceAuthorize>
                </AntDesign.Col>
                <AntDesign.Col Span="16" Style="text-align:right">
                    <Space>
                        <ResourceAuthorize ResourceKey="user_center_role_add">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnClickAdd">
                                    @localizer["添加"]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="user_center_role_refresh">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="reload" OnClick="ReLoadTable">
                                    @localizer["刷新"]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                        <ResourceAuthorize ResourceKey="user_center_role_resource_download_seed_data">
                            <SpaceItem>
                                <Button Type="@ButtonType.Primary" Icon="download" OnClick="OnDownloadClick">
                                    @localizer["种子数据"]
                                </Button>
                            </SpaceItem>
                        </ResourceAuthorize>
                    </Space>
                </AntDesign.Col>
            </Row>

        </TitleTemplate>
        <RowTemplate>
            <ResourceAuthorize ResourceKey="user_center_role_delete_selected">
                <Selection Key="@(model.Id.ToString())" />
            </ResourceAuthorize>
            <Column @bind-Field="@model.Id" Sortable />
            <Column @bind-Field="@model.Name" Filterable />
            <Column @bind-Field="@model.Remark" Filterable />
            <Column @bind-Field="@model.IsSuperAdministrator" Filterable>
                <TagYesNo Yes="model.IsSuperAdministrator"></TagYesNo>
            </Column>
            <Column @bind-Field="@model.IsDefault" Filterable>
                <TagYesNo Yes="model.IsDefault"></TagYesNo>
            </Column>
            <Column @bind-Field="@model.IsLocked" Filterable>
                <ResourceAuthorize ResourceKey="user_center_role_lock">
                    <Authorized>
                        <Switch @bind-Value="@model.IsLocked" OnChange="e=>OnChangeIsLocked(model,e)"></Switch>
                    </Authorized>
                    <NotAuthorized>
                        <TagYesNo Yes="model.IsLocked"></TagYesNo>
                    </NotAuthorized>
                </ResourceAuthorize>
            </Column>
            <Column @bind-Field="@model.CreatedTime" Format="@ClientConstant.DateTimeFormat" Sortable DefaultSortOrder="@SortDirection.Descending" />
            <ActionColumn>
                <Space>
                    <ResourceAuthorize ResourceKey="user_center_role_edit">
                        <SpaceItem>
                            <Tooltip Title="@(localizer["编辑"])" ArrowPointAtCenter="true">
                                <Button Icon="edit" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickEdit(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_set_resource">
                        <SpaceItem>
                            <Tooltip Title="@(localizer["绑定资源"])" ArrowPointAtCenter="true">
                                <Button Icon="security-scan" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnEditRoleResourceClick(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_detail">
                        <SpaceItem>
                            <Tooltip Title="@(localizer["详情"])" ArrowPointAtCenter="true">
                                <Button Icon="eye" Type="@ButtonType.Primary" Size="@ClientConstant.OperationButtonSize" OnClick="()=>OnClickDetail(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                    <ResourceAuthorize ResourceKey="user_center_role_delete">
                        <SpaceItem>
                            <Tooltip Title="@(localizer["删除"])" ArrowPointAtCenter="true">
                                <Button Icon="delete" Type="@ButtonType.Primary" Danger OnClick="()=>OnClickDelete(model.Id)"></Button>
                            </Tooltip>
                        </SpaceItem>
                    </ResourceAuthorize>
                </Space>
            </ActionColumn>
        </RowTemplate>
    </Table>
</div>
