<ConfigProvider Form="formValidateMessagesConfig">
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@moduleContext.ModeuleAssemblies">
        <Found Context="routeData">
            <PageTitle>@SystemConfigService.GetSystemName()</PageTitle>
            <CascadingValue Value="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                    </Authorizing>
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </CascadingValue>
        </Found>
        <NotFound>
            <PageTitle>@SystemConfigService.GetSystemName()</PageTitle>
            <LayoutView Layout="@typeof(OtherPageLayout)">
                <Result Status="404"
                        Title="404"
                        SubTitle="@(Lo.GetValue("Page404Message"))">
                </Result>
                <div style="width:100%;text-align:center;">
                    <Button OnClick="e=>GoHome()">@Lo.GetValue("GoHome")</Button>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</ConfigProvider>
<Gardener.WoChat.Client.Components.WoChatBtn />