@page "/user_auth/resource"
<div>
    <PageContainer Title="">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>用户权限</BreadcrumbItem>
                <BreadcrumbItem>资源管理</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div>
                <Row>
                    <AntDesign.Col Span="8">
                        <Row>
                            <AntDesign.Col Span="18">
                                <Space>
                                    <SpaceItem>
                                        <Tooltip Placement="PlacementType.TopLeft" Title="@(allExpanded?"收起":"展开")">
                                            <Button Type="@ButtonType.Primary" Icon="@(allExpanded?"up":"down")" Size="@ButtonSize.Small" OnClick="OnExpandClick" />
                                        </Tooltip>
                                    </SpaceItem>
                                    <SpaceItem>
                                        <Tooltip Placement="PlacementType.TopLeft" Title="@("添加子节点")">
                                            <Button Type="@ButtonType.Primary" Icon="plus-circle" Size="@ButtonSize.Small" OnClick="OnAddChildNodeClick" />
                                        </Tooltip>
                                    </SpaceItem>
                                    <SpaceItem>
                                        <Tooltip Placement="PlacementType.TopLeft" Title="@("编辑选中节点")">
                                            <Button Type="@ButtonType.Primary" Icon="edit" Size="@ButtonSize.Small" OnClick="OnEditSelectedNodeClick" />
                                        </Tooltip>
                                    </SpaceItem>
                                    <SpaceItem>
                                        <Tooltip Placement="PlacementType.TopLeft" Title="@("删除选中及所有子节点")">
                                            <Button Type="@ButtonType.Primary" Icon="delete" Danger Size="@ButtonSize.Small" OnClick="OnDeleteSelectedNodeClick" />
                                        </Tooltip>
                                    </SpaceItem>
                                </Space>
                            </AntDesign.Col>
                        </Row>
                        <Row>
                            <AntDesign.Col Span="24" Style="margin-top:10px">
                                <Spin Spinning="@treeIsLoading">
                                    <Tree @ref="tree"
                                          ShowIcon DataSource="resourceDtos"
                                          TitleExpression="x=>((ResourceDto)x.DataItem).Name"
                                          ChildrenExpression="x=>((ResourceDto)x.DataItem).Children"
                                          IconExpression="x=>((ResourceDto)x.DataItem).Icon"
                                          IsLeafExpression="x=>x.TreeLevel>2"
                                          OnClick="OnNodeClick"
                                          Style="min-height:466px;">
                                    </Tree>
                                </Spin>
                            </AntDesign.Col>
                        </Row>
                    </AntDesign.Col>
                    <AntDesign.Col Span="10" Offset="2">
                        <Descriptions Title="资源信息" Bordered Layout="@DescriptionsLayout.Vertical" Style="margin-top:10px">
                            <DescriptionsItem Title="唯一标示">@editModel.ResourceId</DescriptionsItem>
                            <DescriptionsItem Title="名称">@editModel.Name</DescriptionsItem>
                            <DescriptionsItem Title="键值">@editModel.SortName</DescriptionsItem>
                            <DescriptionsItem Title="类型">
                                @(EnumExtension.GetEnumDescription(editModel.Type))
                            </DescriptionsItem>
                            <DescriptionsItem Title="排序">
                                @editModel.Order
                            </DescriptionsItem>
                            <DescriptionsItem Title="图标">
                                @if (!string.IsNullOrEmpty(editModel.Icon))
                                {
                                    <Icon Type="@editModel.Icon"></Icon>
                                }
                                <sppn>@editModel.Icon</sppn>
                            </DescriptionsItem>
                            <DescriptionsItem Title="地址">
                                @editModel.Path
                            </DescriptionsItem>
                            <DescriptionsItem Title="锁定">
                                @(editModel.IsLocked?"是":"否")
                            </DescriptionsItem>
                            <DescriptionsItem Title="创建时间">
                                @editModel.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")
                            </DescriptionsItem>
                            <DescriptionsItem Title="备注" Span="3">
                                @editModel.Remark
                            </DescriptionsItem>
                        </Descriptions>
                    </AntDesign.Col>
                </Row>
            </div>
        </ChildContent>
    </PageContainer>
</div>

<Drawer Closable="true" Width="460" Visible="drawerVisible" Placement="left" Title="@drawerTitle" OnClose="_=>OnDrawerClose()">
    <Form Loading="@formIsLoading"
          Model="@editModel"
          LabelCol="new ColLayoutParam { Span = 8 }"
          WrapperCol="new ColLayoutParam { Span = 16 }"
          OnFinish="OnFormFinish"
          OnFinishFailed="OnFormFinishFailed" Style="min-height:600px;">
        <FormItem Label="唯一标示">
            <Input @bind-Value="@context.ResourceId" Disabled />
        </FormItem>
        <FormItem Label="名称">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="键值">
            <Input @bind-Value="@context.SortName" />
        </FormItem>
        <FormItem Label="类型">
            <RadioGroup @bind-Value="@(context.Type)">

                @if (context.Type.Equals(ResourceType.ROOT))
                {
                    <Radio Value="@(context.Type)">@(EnumExtension.GetEnumDescription(context.Type))</Radio>
                }
                else
                {
                    foreach (var gitem in EnumExtension.EnumToDictionary<ResourceType>())
                    {
                        if (!gitem.Key.Equals(ResourceType.ROOT))
                        {
                            <Radio Value="@(gitem.Key)">@gitem.Value</Radio>
                        }
                    }
                }
            </RadioGroup>
        </FormItem>
        <FormItem Label="地址">
            <Input @bind-Value="@context.Path" />
        </FormItem>
        <FormItem Label="图标">
            <Input @bind-Value="@context.Icon" />
        </FormItem>
        <FormItem Label="排序">
            <AntDesign.InputNumber @bind-Value="@context.Order" />
        </FormItem>
        <FormItem Label="是否锁定">
            <Switch @bind-Value="@context.IsLocked"></Switch>
        </FormItem>
        <FormItem Label="备注">
            <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@context.Remark"></TextArea>
        </FormItem>
        <FormItem WrapperCol="new ColLayoutParam { Offset = 4, Span = 20 }">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                保存
            </Button>
            <Button OnClick="OnFormCancel">
                取消
            </Button>
        </FormItem>

    </Form>
</Drawer>
