@page "/user_auth/role"
@using Gardener.Application.Dtos
<div>
    <PageContainer Title="角色管理">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>用户权限</BreadcrumbItem>
                <BreadcrumbItem>角色管理</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <Table @ref="table"
                   TItem="RoleDto"
                   DataSource="@roles"
                   Total="_total"
                   OnChange="@onChange"
                   @bind-PageIndex="_pageIndex"
                   @bind-PageSize="_pageSize"
                   @bind-SelectedRows="selectedRows"
                   Loading="@tableIsLoading">
                <TitleTemplate>
                    <Row>
                        <AntDesign.Col Span="8">
                            <Button Type="@ButtonType.Primary" Icon="delete" Danger OnClick="OnDeletesClick">
                                删除选中
                            </Button>
                        </AntDesign.Col>
                        <AntDesign.Col Span="4" Offset="12" Style="text-align:right">
                            <Button Type="@ButtonType.Primary" Icon="plus" OnClick="OnAddClick">
                                添加
                            </Button>
                            <Button Type="@ButtonType.Primary" Icon="reload" OnClick="OnReLoadTable">
                                刷新
                            </Button>
                        </AntDesign.Col>
                    </Row>

                </TitleTemplate>
                <RowTemplate>
                    <Selection Key="@(context.Id.ToString())" />
                    <Column Title="编号" @bind-Field="@context.Id" Sortable />
                    <Column Title="名称" @bind-Field="@context.Name" Sortable />
                    <Column Title="备注" @bind-Field="@context.Remark" Sortable />
                    <Column Title="是否锁定" Field="@context.IsLocked">
                        <Switch @bind-Value="@context.IsLocked"  OnChange="e=>OnChangeIsLocked(context,e)"></Switch>
                    </Column>
                    <Column Title="创建时间" @bind-Field="@context.CreatedTime" Format="@SystemConstant.DateTimeFormat" Sortable />
                    <ActionColumn>
                        <Space>
                            <SpaceItem><Button Type="@ButtonType.Primary" Size="@SystemConstant.OperationButtonSize" OnClick="()=>OnEditClick(context)">编辑</Button></SpaceItem>
                            <SpaceItem><Button Type="@ButtonType.Primary" Size="@SystemConstant.OperationButtonSize" Danger OnClick="()=>OnDeleteClick(context.Id)">删除</Button></SpaceItem>
                        </Space>
                    </ActionColumn>
                </RowTemplate>
            </Table>
            <Drawer Closable="true" Width="400" Visible="drawerVisible" Placement="right" Title="@drawerTitle" OnClose="_=>OnDrawerClose()">

                @if (editModel != null)
                {
                    <Form Loading="@formIsLoading"
                          Model="@editModel"
                          LabelCol="new ColLayoutParam { Span = 6 }"
                          WrapperCol="new ColLayoutParam { Span = 18 }"
                          OnFinish="OnFormFinish"
                          OnFinishFailed="OnFormFinishFailed">
                        <FormItem Label="名称">
                            <Input @bind-Value="@context.Name" />
                        </FormItem>
                        <FormItem Label="备注">
                            <TextArea AutoSize="true" MinRows="2" MaxRows="6" @bind-Value="@context.Remark"></TextArea>
                        </FormItem>
                        <FormItem Label="是否锁定">
                            <Switch @bind-Value="@context.IsLocked"></Switch>
                        </FormItem>
                        <FormItem WrapperCol="new ColLayoutParam { Offset = 4, Span = 20 }">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保存
                            </Button>
                            <Button OnClick="OnFormCancel">
                                取消
                            </Button>
                        </FormItem>
                    </Form>
                }
            </Drawer>
        </ChildContent>
    </PageContainer>

</div>