@inherits DrawerTemplate<int?, UserDto>
@if (editModel != null)
{
    <Form Loading="@formIsLoading"
          Model="@editModel"
          LabelCol="new ColLayoutParam { Span = 8 }"
          WrapperCol="new ColLayoutParam { Span = 16 }"
          OnFinish="OnFormFinish"
          OnFinishFailed="OnFormFinishFailed">
        <FormItem Label="头像">
            <Avatar Src="@context.Avatar" />
        </FormItem>
        <FormItem Label="用户名">
            <Input @bind-Value="@context.UserName" />
        </FormItem>
        <FormItem Label="密码">
            <Input @bind-Value="@context.Password" />
        </FormItem>
        <FormItem Label="昵称">
            <Input @bind-Value="@context.NickName" />
        </FormItem>
        <FormItem Label="性别">
            <RadioGroup @bind-Value="@(context.Gender)">
                @foreach (var gitem in EnumExtension.EnumToDictionary<Gender>())
                {
                    <Radio Value="@(gitem.Key)">@gitem.Value</Radio>
                }
            </RadioGroup>
        </FormItem>
        <FormItem Label="是否锁定">
            <Switch @bind-Value="@context.IsLocked"></Switch>
        </FormItem>
        <Divider Orientation="left" Style="font-weight:bold">联系信息</Divider>
        <FormItem Label="手机号">
            <Input @bind-Value="@context.PhoneNumber" />
        </FormItem>
        <FormItem Label="手机号是否确认">
            <Switch @bind-Value="@context.PhoneNumberConfirmed"></Switch>
        </FormItem>
        <FormItem Label="邮箱">
            <Input @bind-Value="@context.Email" />
        </FormItem>
        <FormItem Label="邮箱是否确认">
            <Switch @bind-Value="@context.EmailConfirmed"></Switch>
        </FormItem>
        <FormItem Label="QQ">
            <Input @bind-Value="@context.UserExtension.QQ" />
        </FormItem>
        <FormItem Label="微信">
            <Input @bind-Value="@context.UserExtension.WeChat" />
        </FormItem>
        <FormItem WrapperCol="new ColLayoutParam { Offset = 4, Span = 20 }">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                保存
            </Button>
            <Button OnClick="OnFormCancel">
                取消
            </Button>
        </FormItem>
    </Form>
}